* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin: 0 auto;
}

.healthIndicator {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
}

.runAway {
    float: right;
}

.nextRoom {
    float: right;
}