.card, .nonRoomCard {
    width: 20%;
    min-width: 75px;
    min-height: 300px;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.card {
    cursor: pointer;
    animation: cardWiggle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.card:hover {
    transform: scale(1.05);
}

@keyframes cardWiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    35% { transform: rotate(0deg); }
    80% { transform: rotate(0deg); }
    90% { transform: rotate(1deg); }
}